<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EntretenimentoDBString"
       connectionString="Data Source=.; 
       AttachDbFilename=C:\projects\csharp\DIO.Projeto.Series\EntretenimentoDB.mdf; 
       Initial Catalog=EntretenimentoDB;
       User=AzureAD\LeonardoHonórioSdeOl;
       Integrated Security=True"
       providerName="System.Data.SqlClient">
    </add>   
  </connectionStrings>
 
</configuration>