<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EntretenimentoDBString"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
       providerName="System.Data.SqlClient">
    </add>   
  </connectionStrings>
  <appSettings>
    <add key="SerieNavegador" value="C:\\Program Files (x86)\\Microsoft\\Edge\\Application\\msedge.exe"/>
  </appSettings>
 
</configuration>